.tiptap-popover {
  --editor-popover-bg-color: var(--overlay);
  --editor-popover-border-color: color-mix(in oklab, var(--border) 88%, white);
  --editor-popover-text-color: var(--overlay-foreground);

  z-index: 50;
  max-height: min(24rem, 80vh);
  border: 1px solid var(--editor-popover-border-color);
  border-radius: calc(var(--radius) * 2);
  background: var(--editor-popover-bg-color);
  color: var(--editor-popover-text-color);
  box-shadow: var(--overlay-shadow);
  outline: none;
}

.tiptap-popover > * {
  max-height: inherit;
}
